.nav-stick {
  background-color: #f8f8f850;
}

.img_salad {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 5%;
  left: 3%;
  z-index: 1;
  transform: translateX(-50%) rotate(9deg);


  img {
    width: 100%;
    height: 100%;
  }
}

.img_dot {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);

}


.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: none !important;
  }

  &__content {
    margin-top: 40px;
    flex: 0 0 45%;
  }

  &__left {
    flex: 0 0 70%;
    height: 100%;
    background: #f8f8f8;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    margin-top: 2.5rem;
    display: inline-block;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 4rem;
    color: $color-secondary;
    font-weight: 700;
  }

  &__form {
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    box-shadow: 0 1px 10px #00000020;
    outline: none;


    &--input {
      border: none;
      color: $color-secondary;
      padding: 1.2rem 1.2rem 1.2rem 1.3rem;
      flex: 1;
      outline: none;
      font-size: 1.6rem;
      font-weight: 500;
      background: transparent;

      &::placeholder {
        color: $color-secondary;
        font-size: 1.6rem;
        font-weight: 700;
        opacity: 0.5;
      }

      &:active {
        outline: none;
        border: none;
      }

      &:focus {
        outline: none;
      }
    }

    &--go-button {
      border-radius: 100px 5px 5px 5px;
      background-color: $color-primary;
      padding: 1.2rem 6rem;
      border: none;
      flex: 0 0 30%;
      font-size: 2rem;
      color: white;

      cursor: pointer;
    }
  }


  &__right {
    flex: 0 0 30%;
    height: 100%;
    position: relative;
    background-color: $color-primary;
  }

  &__dish {
    width: 40rem;
    height: 40rem;

    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }


  }
}




.header-container {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  margin: auto;
  gap: 3rem;
  background-color: none;
}

.section-container {
  margin: auto;
}

.header-main {
  padding: 2rem 0;
}

.header-main .header-container {
  gap: 8rem;
}

.header-container,
.section-container {
  padding: 0 15px;
}



.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  /* for vertical scroll */
  height: 12px;
  /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--body) !important;
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.header-logo {
  /* margin-bottom: 0; */
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: $color-primary !important;
  font-size: 3.4rem;
  font-weight: 800;
  font-family: 'Qwitcher Grypen', cursive;

  img {
    width: 6rem;
    height: 6rem;
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);

    border-radius: 50%;
  }
}


.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.header-user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-user-actions .action-btn {
  position: relative;
  font-size: 35px;
  color: var(--onyx);
  padding: 5px;
}

.header-user-actions .count {
  position: absolute;
  top: -2px;
  right: -3px;
  background: $color-secondary !important;
  color: var(--white);
  font-size: 12px;
  font-weight: var(--weight-500);
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.desktop-navigation-menu {
  display: block;
}

.desktop-menu-category-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.desktop-menu-category-list .menu-category:not(:nth-child(2)) {
  position: relative;
}

.desktop-menu-category-list .menu-category>.menu-title {
  position: relative;
  color: var(--onyx);
  font-size: var(--fs-7);
  // font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 15px 0;
  transition: var(--transition-timing);
}

.desktop-menu-category-list .menu-category>.menu-title:hover {
  color: $color-primary;
}

.desktop-menu-category-list .menu-category>.menu-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: $color-primary;
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--transition-timing);
}

.desktop-menu-category-list .menu-category>.menu-title:hover::after {
  transform: scaleX(1);
}

.desktop-menu-category-list .menu-category:hover>.dropdown-panel {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: var(--white);
  padding: 20px 0;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--cultured);
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition-timing);
  z-index: 5;
}

.desktop-menu-category-list .menu-category:hover>.dropdown-list {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.dropdown-list .dropdown-item a {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  text-transform: capitalize;
  padding: 4px 20px;
  transition: var(--transition-timing);
}

.dropdown-list .dropdown-item a:hover {
  color: $color-primary;
}

@media (min-width: 1024px) {
  .header-main .header-container {
    gap: 6rem;
  }

  .header-container,
  .section-container {
    max-width: 980px;
  }

}

@media (min-width: 1200px) {
  .header-main .header-container {
    gap: 5rem;
  }

  .header-container,
  .section-container,
  .recipe-container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {

  .header-main .header-container,
  .recipe-container {
    gap: 4rem;
  }

  .header-container,
  .section-container,
  .recipe-container {
    max-width: 1350px;
  }
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* Table */
.save {
  border-collapse: collapse;
  max-width: 900px;
  font-size: 1.5rem;
}

.save td,
.save th {

  padding: 8px;
  width: 160px;
}

.save tbody {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.save tr {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  border-radius: 0.5rem;
  transition: all 0.3s ease;

}

.btn-td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

td img {
  width: 100px;
  height: 100px;
}

/* //////////////////////// */

/* //////////// BUTTON /////////////// */

.quantity-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
}

.quantity-field .value-button {
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;
  padding: 0;
  background: #eee;
  outline: none;
  cursor: pointer;
}

.quantity-field .value-button:hover {
  background: rgb(230, 230, 230);
}

.quantity-field .value-button:active {
  background: rgb(210, 210, 210);
}

.quantity-field .decrease-button {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.quantity-field .increase-button {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

.quantity-field .number {
  display: inline-block;
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box;


  background: white;
  font-family: calibri;
}

.quantity-field .number::selection {
  background: none;
}

/* //////////////////////// */

/* ICON */

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}

/* //////////////////////// */

.cartAndCheck {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
  width: 55vw;
  flex-wrap: wrap;
}

/* cart */

.cart {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 20px;
  flex: 0 0 68%;
  border-radius: 10px;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);

  /* align-items: center; */
}

.cart-title {
  padding: 10px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-title h3 {
  font-size: 16px;
  font-weight: 600;
}

.line {
  border: 1px solid var(--cultured);
}

.all-carts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-tag {
  font-size: 10px;
  padding: 3px;
  /* test */

  border: 1px solid $color-secondary;
  color: $color-secondary;
  margin-bottom: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.cart-item img {
  width: 100px;
  height: 100px;
}

.cart-name h3 {
  font-size: 20px;
  font-weight: 500;
}

.cart-name span {
  font-size: 12px;
  font-weight: 400;

  /* test */
  color: gray;
}

.cart-price {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}


.cart-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  margin-bottom: 1.4rem;
}

.cart-buttons a {
  text-decoration: underline;
  font-size: 14px;
}

/* //////////////////////////////// */

.checkout {
  flex: 0 0 30%;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;



}

.checkout-btn {
  /* test */
  background: $color-secondary;
  color: #fff !important;
  border-radius: 15px;
  padding: 1.2rem 3rem;
  letter-spacing: 1px;
  font-size: 1.3rem;

}

.checkout-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-total,
.checkout-discount,
.checkout-overall {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-total h4,
.checkout-discount h4,
.checkout-overall h4 {
  font-size: 16px;
  font-weight: 500;
}

.checkout-total p,
.checkout-discount p,
.checkout-overall p {
  font-size: 14px;
  font-weight: 500;
}

/* CUSTOM SCROLL */

.modal-content::-webkit-scrollbar {
  width: 15px;
}

.modal-content::-webkit-scrollbar-track {
  background: var(--white);
  /* border-left: 1px solid var(--cultured); */
}

.modal-content::-webkit-scrollbar-thumb {
  /* background: hsl(0, 0%, 80%); */
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */

/**
 * MODAL 
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* align-items: center; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  transition: all 0.2s ease-in;

  /* animation: popup 1s ease-in-out 5s forwards; */
}

.popup {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@keyframes popup {
  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.modal.closed {
  display: none;
}

.modal-close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.newsletter-img {
  display: none;
}

.modal-content {
  position: relative;

  max-height: 500px;
  /* max-width: 350px; */
  margin: 20px;
  background: var(--white);
  border-radius: var(--border-radius-md);
  overflow-y: scroll;
  z-index: 200 !important;
  animation: scaleUp 0.5s ease-in-out 1s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--salmon-pink);
  color: var(--white);
  font-size: 16px;
  padding: 5px;
  border-radius: var(--border-radius-sm);
}

.modal-close-btn:hover {
  opacity: 0.9;
}

.modal-close-btn ion-icon {
  --ionicon-stroke-width: 70px;
}

.newsletter {
  padding: 50px 30px;
  /* text-align: center; */
}

.newsletter-header {
  margin-bottom: 20px;
}

.newsletter-title {
  color: $color-secondary;
  font-size: var(--fs-2);
  font-weight: var(--weight-600);
  margin-bottom: 10px;
  margin-left: 10px;
}

.newsletter-desc {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  line-height: 1.6;
}

.email-field {
  font-size: var(--fs-7);
  padding: 8px 16px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--cultured);
  margin-bottom: 16px;
}

.btn-newsletter {
  background: var(--eerie-black);
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: var(--border-radius-sm);
  margin: auto;
  transition: var(--transition-timing);
}

.btn-newsletter:hover {
  background: var(--salmon-pink);
}


.mobile-navigation-menu {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
}

.mobile-navigation-menu.active {
  left: 0;
  visibility: visible;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cultured);
}

.menu-top .menu-title {
  color: var(--salmon-pink);
  font-size: var(--fs-4);
  font-weight: var(--weight-600);
}

.menu-close-btn {
  color: var(--eerie-black);
  font-size: 22px;
}

.menu-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.mobile-menu-category-list {
  margin-bottom: 30px;
}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 1px solid var(--cultured);
}

.mobile-menu-category-list .menu-title {
  color: var(--onyx);
  font-size: var(--fs-6);
  // font-weight: var(--weight-500);
  padding: 12px 0;
}

.accordion-menu>div {
  font-size: 14px;
}

.accordion-menu ion-icon {
  color: var(--onyx);
  --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon {
  display: none;
}

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon {
  display: block;
}

.menu-category .submenu-category-list {
  margin-left: 10px;
}

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-6);
  color: var(--sonic-silver);
  font-weight: var(--weight-300);
}

.submenu-title:hover {
  color: var(--davys-gray);
}

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
  max-height: 148px;
  visibility: visible;
}

.menu-bottom .menu-category-list {
  margin-bottom: 20px;
}

.menu-bottom .menu-category {
  border-bottom: none;
}

.menu-bottom .menu-title {
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  color: var(--eerie-black);
  padding: 12px 0;
}

.accordion-menu.active .caret-back {
  transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  padding: 0 15px;
  margin-left: 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
  border-bottom: 1px solid var(--cultured);
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-social-container .social-link {
  background: var(--cultured);
  color: var(--eerie-black);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--border-radius-md);
}


.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  /* for vertical scroll */
  height: 12px;
  /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}

.title {
  color: var(--eerie-black);
  font-size: 2.2rem;
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cultured);

  padding-bottom: 10px;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--cultured);
  padding: 10px 15px;
  color: var(--onyx);
  width: 26vw;
  border-radius: var(--border-radius-md);
}

.search-form:focus {
  border: 1px solid var(--eerie-black);
}

.search-input {
  display: inline-block;
  outline: none;
  border: none;
  font-size: var(--fs-7);
  background: transparent;
}

.seach-btn {
  .hydrated {
    font-size: 2rem;
  }

}

.search-input:focus~.search-form {
  border: 2px solid var(--eerie-black);
}


// drop down

.user-icon {
  cursor: pointer;
}


.user-dropdown {
  position: relative;
  gap: 20px;
}

.user-list {
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid var(--cultured);
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  background: #fff;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

}

.user-dropdown:hover>.user-list {
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}





.user-item {
  font-size: 1.5rem;

  letter-spacing: 1px;


  a {
    color: var(--eerie-black)
  }

  &:hover {
    a {
      color: $color-primary;
    }
  }


}

.save_btn {
  background: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  color: #fff !important;
  border-radius: 1rem;
}

.header-nav {
  position: absolute;
  width: 100%;
  z-index: 20;
  padding: 1.5rem 0;
}

.header-main-nav {
  padding: 1.2rem 0;
  background-color: #ffffff80;
  align-items: center;
}